@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

$line-border-fill: #3498DB;
$line-border-empty: #e0e0e0;

* { box-sizing: border-box; }

body {
    background-color: #F6F7FB;
    margin: 0;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    text-align: center;
}
.progress {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    &::before {
        content:'';
        background-color: $line-border-empty;
        position: absolute;
        top: 50%;
        left: 0;
        translate: translateY(-50%);
        height: 4px;
        width: 100%;
        z-index: -10;
        transition: .4s ease;
    }
    &__bar {
        background-color: $line-border-fill;
        position: absolute;
        top: 50%;
        left: 0;
        translate: translateY(-50%);
        height: 4px;
        width: 0;
        z-index: -10;
        transition: .4s ease;
    }
    &__step{
        background-color: #FFF;
        color: #999;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $line-border-empty;
        transition: .4s ease;
        &.active {
            border-color: $line-border-fill;
        }
    }
}
.btn {
    background-color: $line-border-fill;
    color: #FFF;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;

    &:active {
        transform: scale(0.98);
    }
    &:focus {
        outline: 0;
    }
    &:disabled {
        background-color: $line-border-empty;
        cursor: not-allowed;
    }
}

